extends base.jade

block content
  //将“/category”和“/tag”重定向至“/categories”，避免用此模板进行渲染
  if request.path.strip('/')=='category'
    +response.redirect('/categories')
  if request.path.strip('/')=='tag'
    +response.redirect('/categories')
  
  .posts_in_list
    entries = get_data(type='post', limit=40, sort='desc')
    ul: for post in posts: li
      span.date= post.date.format("%Y/%m/%d")
      a(href=post.url, title=post.title)= post.title
