
body {
  font: normal 14px Arial, Helvetice, Verdana, sans-serif;
  line-height: 1.9em;
  color: #666;
  width: 80%;
  margin: 0 auto;
  padding-top: 50px; }

  .post {
    margin-bottom: 130px; }
    .post .title {
      margin-top: 30px;
      text-align: right; }

.pager a {
  text-decoration: none;
  color: #ddd;
  font-size: 72px; }
  .pager a:hover {
    color: #111; }
    .pager a.next {
      float: right; }

 .sidebar .bitcron_nav_container {
  float: right;
}

  .sidebar .bitcron_nav_container  li {
    list-style: none;
    line-height: 35px;
    box-shadow: 1px 1px 1px 1px #999;
    margin-top:5px;
    text-align:center;
    }

    .sidebar .bitcron_nav_container  li a {
      padding: 2px 16px;
      text-decoration: none;
      color: black;
      }

      .sidebar .bitcron_nav_container  li a:hover {
        background-color: black;
        display: block;
        text-decoration: none;
        color: white; }
        .header{
          width: 101%;
          margin:0 auto;
        }

        .post_in_list{
          background-color:white;
          box-shadow: 0px 0px 2px 2px #999;

        }

        .post_in_list img{
          width:80%
        }
